h1 {
  font-size: 70px;
  font-family: cursive;
  text-align: center;
}




.navbar {
  background-color: black;
  overflow: hidden;
}



.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}



.navbar a:hover {
  background-color:  crimson;
  color: black;
}



.navbar a.active {
  background-color: crimson;
  color: white;
}


body {
  background-color:  rgb(255, 231, 236);
}



.column2 {
  float: left;
  width: 50%;
  font-family: cursive;
  font-size: 25px;
}



.column3 {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


p {
  font-size: 35px;
  font-family: cursive;
  color: indigo;
}



ul {
  font-size: 30px;
  font-family: cursive;
  color: indigo;
}



h2 {
  font-size: 40px;
  font-family: cursive;
  color: indigo;
}



button {
  background-color: rgb(207, 237, 255);
  border: 2.5px solid black;
  color: black;
  padding: 15px 26px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 4px;
  transition-duration: .5s;
}



button:hover {
  background-color:  lavender;
  color: black;
  border: 2.5px solid black;
}