
.navbar a{
  float: left;
  color: black;
  text-align: center;
  padding: 23px 25px;
  text-decoration: none;
  font-size: 25px;
  border-radius: 10px;
  font-family: fantasy;
}

.navbar a:hover{
  background-color: plum;
  color:cornflowerblue;

}

.navbar a.class1{
  background-color: plum;
  color: white;
}

 .navbar{
  background-color:aliceblue;
  overflow: hidden;
}
h2{
  color:lightpink;
  text-align: center;
  font-family:monospace;
  font-size: 50px;
}
body{
  background-color:rgb(206, 206, 247)
}
.li{
  color:whitesmoke;
}
h3{
  color: rgba(0, 0, 0, 0.726);
  text-align: center;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:24px;
}

.column{
  float: left;
  width: 50%;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
p{
  color:rgba(0, 0, 0, 0.726);
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 
.ye{
  color: rgba(0, 0, 0, 0.726);
  font-size: 26px;
}








