body {
background-color: rgb(219, 219, 219);
color: rgb(0, 0, 0);
text-align: left;
font-family:sans-serif;
}


.blue {
 color: blue;
 }

 .center {
   text-align:center;
 }

.whiteBackground{
  background-color:rgb(0, 151, 45);
}




  /* .column {
    float: left;
    width: 50%;
    }

  .row:after {
  content:"";
  display: table;
  clear:both;
  } */

  .column3 {
    float: left;
    width: 33.33%;
  }

  /* .column4 {
   float: left;
   width: 25%
  }

  .column5 {
    float: left;
    width: 20%;
  }

 .columns {
    float: left;
  }

  .left {
    width: 35%;

  }
 
 .right {
   width: 65%;

 } */

 .navbar {
  Background-color:rgb(38, 121, 63);
  overflow:hidden;
 }
  .navbar a {
    float: left;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:17px;

    transition-duration: 0.6s;
  }

 .navbar a:hover {
   background-color:rgb(223, 235, 122);
   color:black;
 }
 
 .navbar a.active {
   background-color:rgb(26, 47, 141);
   color:white;
 }
 
button {
  background-color: rgb(46, 12, 158);
  border:none;
  color: white;
  padding: 10px 15px;
  text-align:center;
  display: inline-block;
  font-size:12px
  border-radius:4px;
  transition-duration:.4s;
  }

button:hover{
  background-color:rgb(179, 31, 17);
   color: white;
  border: 3px solid black
}

.blueBackground{
background-color:rgb(20, 28, 149);

.center {
  text-align: center;
}

.center {
  text-align:center;
}

