.navbar {
  background-color: orange rgb(red, green, blue) (253, 29, 29);
  overflow: hidden;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;  
  text-decoration: none;
  font-size: 17px;
}

 .navbar a:hover {
  background-color: orange;
  color: white;
}


.navbar a.active {
  background-color: white;
   color: lightblue;
}
body {
  background-color:lightblue;
}


